.container {
  padding: 1rem;
  margin: auto;
  max-width: 720px;
  width: calc(100% - 2rem);
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  line-height: 4rem;
  font-family: 'Nanum Myeongjo', serif;
}

.date {
  color: #777;
  font-style: italic;
  text-align: right;
}

.body {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 400;
  word-wrap: break-word;
}

img {
  width: 100%;
  margin: 1rem 0;
}

h3 {
  margin-top: 4rem;
  line-height: 1.5rem;
  font-size: 1.25em;
}

blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
  margin: 1rem 0rem;
}

.disqus__wrapper {
  padding: 2rem;
}
@media (max-width: 768px) {
  .disqus__wrapper {
    padding: 1rem;
  }
}
