a {
  text-decoration: none;
  color: #2f2f2f;
}

.blogcards {
  padding: 20px;
}

@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

*:not(code, kdb, samp) {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
}

pre {
  padding: 1em;
  background-color: #f0f0f0;
  overflow: scroll;
}

code {
  background-color: #f0f0f0;
  padding: 0.15em 0.3em;
}

body {
  font-size: 1rem;
  color: #2f2f2f;
  background-color: #f9f7f1;
  display: block;
}
