.head {
  text-align: center;
  position: -webkit-sticky; /* 사파리 브라우저 지원 */
  position: sticky;
  top: 0;
  background-color: #f9f7f1;
  padding: 10px 10px 0 10px;
  z-index: 1;
}

.header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media only all and (max-width: 1200px) {
  .header {
    font-size: 80px;
    line-height: 72px;
    margin-bottom: 20px;
  }
}

@media only all and (max-width: 900px) {
  .header {
    font-size: 42px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

@media only all and (max-width: 600px) {
  .header {
    display: none;
    /* font-size: 21px;
    line-height: 18px;
    margin-bottom: 5px; */
  }
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 9px 0;
}

a.category {
  margin: 0 10px;
  font-style: italic;
}
