.head {
  text-align: center;
  position: -webkit-sticky; /* 사파리 브라우저 지원 */
  position: sticky;
  top: 0;
  background-color: #f9f7f1;
  padding: 10px 10px 0 10px;
  z-index: 1;
}

.header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 72px;
  margin-bottom: 20px;
  flex-grow: 2;
  justify-self: center;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 9px 0;
}

a.category {
  margin: 0 10px;
  font-style: italic;
}
