.head {
  text-align: center;
  position: -webkit-sticky;
  /* 사파리 브라우저 지원 */
  position: sticky;
  top: 0;
  background-color: #ebfbee;
  padding: 10px 10px 0 10px;
  z-index: 1;
}

@media only all and (min-width: 600px) {
  .header {
    font-size: 42px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.home {
  font-weight: bold;
}

@media only all and (max-width: 600px) {
  .header {
    display: none;
  }
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 9px 0;
}

a.category {
  margin: 3px 9px;
  display: inline-block;
}

a.category:hover {
  color: #8ce99a;
}
