.card {
  font-size: 14px;
  line-height: 20px;
  width: calc(100% - 30px);
  display: block;
  margin-bottom: 1rem;
  transition: all 0.7s;
  border: 1px solid black;
  max-width: 720px;
  padding: 1rem;
  margin: 1rem auto;
}

.link {
  text-align: left;
  color: gray;
}

.headline {
  text-align: left;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.date {
  text-align: right;
  height: 0.75rem;
  font-size: 0.75rem;
  color: #777;
  font-style: italic;
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
